/* @font-face {
      font-family: 'museo_slab500';
      src: url('fonts/Museo_Slab_500_2-webfont.eot');
      src: url('fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
      url('fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
      url('fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
      font-weight: normal;
      font-style: normal;
} */

.title {
  color: #30394F;
  font-weight: bold;
  font-family: helvetica;
}

.explain {
  color: #30394F;
  font-family: helvetica;
}

ul {
  color: #30394F;
  font-family: helvetica;
}

a {
  color: #3C3658;
  font-weight: bold;
}
a:hover {
  color:#e93a30;

}
.logo {
  width: 250px;
  height: auto;
}
a.glyphicon:hover {
  text-decoration: none;
}

<<<<<<< HEAD
a {
  color: #3C3658;
  font-weight: bold;
}

html,
=======
/* html,
>>>>>>> changed graph color, fixed some failures, added a popup for users to adjust size, and changed label to effect
body {
  height: 50%;
  background-color: #FFF;
} */
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 50%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  color:white;
  height: auto;
  background-color: #373737;
}
#footer a {
  color: #6aceeb;
}
#wrap > .container {
  padding: 60px 15px 0;
}
.container .text-footer {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* .page-header .title {
  font-family: "museo_slab500";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "museo_slab500";
} */

@media only screen and (min-width: 768px) {
  .page-header .title {
    font-size: 60px;
  }
}
code {
  font-size: 80%;
}
.navbar-default {
  background-color: #373737;
}

p.footnotes {
  font-size: 90%;
}
/* p.lead {
   font-family: "museo_slab500";
} */
.popover {
  font-family: helvetica;
}
.popover h3 {
  font-family: helvetica;
}
.form-group > label {
  font-weight: normal;
}
li.fb-like {
  vertical-align: top;
}
#more-viz img {
  margin-left:auto;
margin-right: auto;
border: 1px solid #4F7396;
padding: 0px;
  transition-duration: 0.2s;
transition-property: border-color, color;
transition-timing-function: ease-in-out;
}
#more-viz a {
  text-decoration: none;
  color: #000;
    transition-duration: 0.2s;
transition-property: border-color, color;
transition-timing-function: ease-in-out;
}
#more-viz .viz-item:hover > *, #more-viz .viz-item:hover img {
  color: #6ACEEB;
  border-color: #6ACEEB;
}

/**
 UI Slider
*/

.ui-slider {
  background: #ebedef;
  border-radius: 32px;
  height: 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 20px;
  position: relative;
}
.ui-slider-handle {
  background-color: #30394F;
  border-radius: 50%;
  cursor: pointer;
  height: 18px;
  margin-left: -9px;
  position: absolute;
  top: -3px;
  width: 18px;
  z-index: 2;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
.ui-slider-handle[style*='100'] {
  margin-left: -15px;
}
.ui-slider-handle:hover,
.ui-slider-handle:focus {
  background-color: #30394F;
  outline: none;
}
.ui-slider-handle:active {
  background-color: #30394F;
}
.ui-slider-range {
  background-color: #6ACEEB;
  border-radius: 30px 0 0 30px;
  display: block;
  height: 100%;
  position: absolute;
  z-index: 1;
}


.ui-slider-value {
  float: right;
  font-size: 13px;
  margin-top: 12px;
}
.ui-slider-value.first {
  clear: left;
  float: left;
}

/**
 MathJax
*/
.MathJax_Display {
  text-align: left !important;
}
